services:
  mysql:
    image: mysql:8
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
    ports:
      - "3307:3306"

  node:
    build: .
    image: my-node-app
    container_name: node-container
    depends_on:
      - mysql
    ports:
      - "3000:3000"
